@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Tecnologias</h2>
        <ul>
            <li>Cadastro de quais tecnologias a empresa trabalha. <a asp-controller="Skill">Abrir Cadastro</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Vagas</h2>
        <ul>
            <li>Cadastro de quais vagas estão disponíveis. <a asp-controller="Job">Abrir Cadastro</a></li>
            <li>Triagem de currículos para o peso de cada tecnologia para a vaga em questão.</li>
            <li>Relatório ordenado por candidato, pontuado de acordo com o conhecimento do mesmo.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Candadatos</h2>
        <ul>
            <li>Cadastro de candidatos a participarem de entrevistar. <a asp-controller="User">Abrir Cadastro</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Entrevistar</h2>
        <ul>
            <li>O candidato será cadastrado a uma vaga e vinculado às tecnologias que conhece. <a asp-controller="Interview">Abrir Cadastro</a></li>
        </ul>
    </div>
</div>
