@model ExeRH.ViewModels.ApplicantUserViewModel

<div class="container">
    <h2>Novo Candidato</h2>
    <a asp-action="Index" class="btn btn-link">Voltar à lista</a>

    <form asp-controller="User" asp-action="Create" method="post" class="form-horizontal" role="form">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" formaction="Create" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
