@model ExeRH.Models.JobPosition

<div class="container">
    <h2>Nova Vaga</h2>
    <a asp-action="Index" class="btn btn-link">Voltar à lista</a>

    <form asp-controller="Job" asp-action="Create" method="post" class="form-horizontal" role="form">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DisplayName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="JobPositionSkillsAssignments" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @foreach (ExeRH.ViewModels.AssignedSkillData s in ViewBag.AssignedSkills)
                    {
                        <div class="form-check">
                            <input type="checkbox"
                                   name="selectedSkills"
                                   id="group_@s.SkillId"
                                   value="@s.SkillId"
                                   @(Html.Raw(s.Assigned ? "checked=\"checked\"" : ""))>
                            <label class="form-check-label" for="group_@s.SkillId">
                                @s.SkillName
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" formaction="Create" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
